body {background-color: #e7e9ea;}

hr {background-color: white;
    border-style: none;
    border-top-style: dotted;
    width:5%;
    border-color: grey;
    border-width:4px;}

h1 {color: #56baba;}
h2 {color: #56baba;}
